<div class="acp__content overlay">
  <div class="container">
    <div class="wrapper mt-5">
			<h2>Resend confirmation instructions</h2>

			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %> mb-0"><%= value %></div>
			<% end %>

			<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
			  <%= devise_error_messages! %>

			  <div class="form-group mt-4">
			    <%= f.label :email %><br />
			    <%= f.email_field :email, :class => 'form-control', autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
			  </div>

			  <div class="actions">
			    <%= f.submit "Resend confirmation instructions", :class => 'btn btn-default primary' %>
			  </div>
			<% end %>
		</div>
		<div class="text-left mt-5">
			<%= render "users/shared/links" %>
		</div>
	</div>
</div>