<div class="signin__content">
  <div class="container">
    <div class="wrapper mt-5">
      <h2>User :: Log in</h2>

      <% flash.each do |key, value| %>
        <div class="alert alert-warning mb-0 mt-3"><%= value %></div>
      <% end %>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group mt-4">
          <%= f.label :email %><br />
          <%= f.email_field :email, :class => 'form-control', autofocus: true, autocomplete: "email" %>
        </div>

        <div class="form-group mt-3">
          <%= f.label :password %><br />
          <%= f.password_field :password, :class => 'form-control', autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions mt-3">
          <%= f.submit "Log in", :class => 'btn btn-default primary' %>
        </div>
      <% end %>
    </div>
    <div class="text-left mt-5">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>