<div class="portal__main-heading">
	<a href="<%= delivery_url %>" class="back">Back</a>
</div>
<div class="portal__main-left">
	<div class="panel">
		<div class="panel__list">
			panel.delivery.report.list
		</div>
	</div>
</div>
<div class="portal__main-center primary">
	<div class="dashboard">
		<div class="dashboard__container">
			<% if current_user.phone.nil? %>
			<div class="dashboard__container-message">
				dashboard.container.message
			</div>
			<% end %>
			<div class="dashboard__container-card clearfix">
				<div class="dashboard__container-table">
					<div class="dashboard__container-table-select clearfix">
						<a href="<%= delivery_url %>/<%= params[:propertyId] %>/<%= params[:type] %>" class="dashboard__container-table-select-item">Detail</a>
						<a href="<%= request.fullpath %>" class="dashboard__container-table-select-item active">Reports</a>
					</div>
					<div class="dashboard__container-table-content mt-3">
						<div id="bandwidthUsage" style="width:100%; height:300px;"></div>
						<div id="requestOrigin" style="width:100%; height:300px;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	function beautifyDateTime(param) {
		return moment(param).format("HH:mm");
	}

	function formatHitRateUnit(param) {
    return param + '%';
  }

	function formatVolumeUnit(param) {
    var volumeUnit = ["B", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB", "BB", "NB", "DB", "CB", "XB"];
    var i = 0;

    while (param > 1000) {
      param = param / 1000;
      ++i;
    }
    param = (Math.round(param * 100) / 100).toFixed(2) + " " + volumeUnit[i];
    return param;
  }

  var bandwidthUsageChart = echarts.init(document.getElementById('bandwidthUsage'));
  var option = {
		tooltip: {
			trigger: 'axis',
	  	formatter: function (params) {
        return formatVolumeUnit(params[0].data);
      }
		},
    legend: {
      data:['Traffic']
    },
    xAxis: {
      type: 'category',
      boundaryGap: false,
      data: [
      	<% @timestamp.each do |time| %>
      		"<%= time %>",
      	<% end %>
      ],
      axisLabel: {
      	formatter: function (value, index) {
          return beautifyDateTime(value);
        }
      }
    },
    grid: {
    	left: '2%',
      right: '2%'
    },
    yAxis: {
    	show: false,
    	type: 'value',
      axisLabel: {
      	formatter: function (value, index) {
          return formatVolumeUnit(value);
        }
      }
    },
    color: [
    	"#f68100"
    ],
    toolbox: {
      show : true,
      feature : {
        saveAsImage : {
        	show: true,
        	title: ' ',
        }
      }
    },
    series: [
    	{
        name:'Traffic',
        type:'line',
        stack: 'Traffic',
        data:[<%= @bandwidthValue %>],
	        itemStyle: {
	      	normal: {
	      		areaStyle: {
	      			type: 'default'
	      		}
	      	}
	      }
      }
    ]
  };
  bandwidthUsageChart.setOption(option);

  var requestOriginChart = echarts.init(document.getElementById('requestOrigin'));
  var option = {
  	tooltip: {
	  	trigger: 'axis',
	  	formatter: function (params) {
        return formatHitRateUnit(params[0].data);
      }
	  },
	  legend: {
      data:['Hit Rate']
    },
    grid: {
    	left: '2%',
      right: '2%'
    },
    xAxis: {
    	type: 'category',
      boundaryGap : false,
      data: [
      	<% @timestamp.each do |time| %>
      		"<%= time %>",
      	<% end %>
      ],
      axisLabel: {
      	formatter: function (value, index) {
          return beautifyDateTime(value);
        }
      }
    },
    yAxis: {
    	show: false,
    	type: 'value',
      axisLabel: {
        formatter: function (value, index) {
          return formatHitRateUnit(value);
        }
      }
    },
    color: [
    	'#f68100'
    ],
    toolbox: {
      show : true,
      feature : {
        saveAsImage : {
        	show: true,
        	title: ' ',
        }
      }
    },
    series: [{
      name: 'Hit Rate',
      type: 'line',
      data:[<%= @requestValue %>],
      itemStyle: {
      	normal: {
      		areaStyle: {
      			type: 'default'
      		}
      	}
      }
    }]
  };
  requestOriginChart.setOption(option);
</script>