<div class="portal__main-left expanded">
	<div class="panel">
		<div class="panel__heading">
			<span class="btn btn-default btn-sm ml-2">
				<a href="<%= root_url %>" class="back_ic"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 18 12"><path d="M353.6,392.8v2H339.4l3.6,3.6-1.4,1.4-6-6,6-6,1.4,1.4-3.6,3.6Z" transform="translate(-335.6 -387.8)" fill="#f68100"/></svg></a>
			</span>
		</div>
		<div class="panel__list main">
			<div class="main__options-list">
				<div class="main__options-list-item clearfix<% if current_page?(cdn_url) %> active<% end %>" onclick="window.location = '/cdn/<%= params[:propertyId] %>/<%= params[:type] %>/reports?domain=<%= @response["name"] %>'">
					<div class="main__options-list-item-ic">
						<div class="was_ic">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12"><path d="M681.3,1188.2h6v6l-2.3-2.3-6.3,6.3-4-4-6,6-1.4-1.4,7.4-7.4,4,4,4.9-4.9Z" transform="translate(-667.3 -1188.2)" fill="#fff"/></svg>
						</div>
					</div>
					<div class="main__options-list-item-info">
						<h6>Analytic</h6>
						<small>View Analytics of this service</small> 
					</div>
					<div class="main__options-list-item-arrow">
						<% if current_page?(cdn_url) %>
						<div class="arrow_ic">
							<svg xmlns="http://www.w3.org/2000/svg" width="7.4" height="12" viewBox="0 0 7.4 12"><path d="M267.3,398.2l4.6-4.6-4.6-4.6,1.4-1.4,6,6-6,6Z" transform="translate(-267.3 -387.6)" fill="#f68100"/></svg>
						</div>
						<% end %>
					</div>
				</div>
				<div class="main__options-list-item clearfix<% if current_page?(cdn_url) %> active<% end %>" onclick="window.location = '/cdn/<%= params[:propertyId] %>/<%= params[:type] %>/logs?domain=<%= @response["name"] %>'">
          <div class="main__options-list-item-ic">
            <div class="was_ic">
              <svg xmlns="http://www.w3.org/2000/svg" width="20.9" height="18" viewBox="0 0 20.9 18"><path d="M856.7,1118.2a8.6,8.6,0,0,1,6.4-2.6,9,9,0,0,1,6.4,2.6,8.448,8.448,0,0,1,2.6,6.4,9,9,0,0,1-2.6,6.4,8.448,8.448,0,0,1-6.4,2.6,8.6,8.6,0,0,1-6.3-2.6l1.4-1.5a6.662,6.662,0,0,0,4.9,2.1,7.2,7.2,0,0,0,5-2,6.767,6.767,0,0,0,0-9.8,7.028,7.028,0,0,0-5-2,6.632,6.632,0,0,0-4.9,2,6.8,6.8,0,0,0-2,4.9h3l-4,4-.1-.1-3.9-3.9h3A8.232,8.232,0,0,1,856.7,1118.2Zm5.4,2.4h1.5v4.2l3.5,2.1-.8,1.2-4.3-2.6v-4.9Z" transform="translate(-851.2 -1115.6)"/></svg>
            </div>
          </div>
          <div class="main__options-list-item-info">
            <h6>Logs</h6>
            <small>Download Log files of this service</small>
          </div>
          <div class="main__options-list-item-arrow">
            <% if current_page?(cdn_url) %>
            <div class="arrow_ic">
              <svg xmlns="http://www.w3.org/2000/svg" width="7.4" height="12" viewBox="0 0 7.4 12"><path d="M267.3,398.2l4.6-4.6-4.6-4.6,1.4-1.4,6,6-6,6Z" transform="translate(-267.3 -387.6)" fill="#f68100"/></svg>
            </div>
            <% end %>
          </div>
        </div>
			</div>
		</div>
	</div>
</div>
<div class="portal__main-center primary croped">
	<div class="dashboard">
		<div class="dashboard__heading">
			<div class="dashboard__heading-action-list clearfix">
				<div class="dashboard__heading-action-item">
					<div class="btn btn-sm ml-2" onclick="window.location = '<%= cdn_url %>/create'">
						<span class="add_ic">
							<svg xmlns="http://www.w3.org/2000/svg" width="20.1" height="20" viewBox="0 0 20.1 20"><path d="M521.4,422.6v14h14v2h-14a2.051,2.051,0,0,1-2-2v-14Zm16.1-4a2.051,2.051,0,0,1,2,2v12a2.051,2.051,0,0,1-2,2h-12a2.051,2.051,0,0,1-2-2v-12a2.051,2.051,0,0,1,2-2Zm-1.1,9v-2h-4v-4h-2v4h-4v2h4v4h2v-4Z" transform="translate(-519.4 -418.6)"/></svg>
						</span>
						<span>Add Service</span>
					</div>
				</div>
				<div class="dashboard__heading-action-item">
					<a href="<%= request.fullpath %>" class="btn btn-sm ml-2">
						<span class="reload_ic">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" viewBox="0 0 16 20"><path d="M455.5,38.8a8.1,8.1,0,0,1,5.7,2.3,7.473,7.473,0,0,1,2.3,5.6,7.787,7.787,0,0,1-2.4,5.7,7.626,7.626,0,0,1-5.6,2.3,8.023,8.023,0,0,1-8-8h2a5.447,5.447,0,0,0,1.8,4.2,6.174,6.174,0,0,0,4.2,1.8,5.6,5.6,0,0,0,4.2-1.8,6.174,6.174,0,0,0,1.8-4.2,5.447,5.447,0,0,0-1.8-4.2,6.174,6.174,0,0,0-4.2-1.8v4l-5-5,5-5Z" transform="translate(-447.5 -34.7)"/></svg>
						</span>
						<span>Reload</span>
					</a>
				</div>
				<div class="dashboard__heading-action-item">
					<% if @response["active"] == true %>
					<a class="btn btn-sm ml-2" data-method="post" href="/cdn/<%= params[:propertyId] %>/<%= params[:type] %>/stop?<% if params[:type] == "d" %>originUrl=<%= @response["originUrl"] %>&<% end %>streamingService=<%= @response["streamingService"] %>">
						<span class="pause_ic">
							<svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14"><path d="M856.1,18V4h4V18Zm8-14h4V18h-4Z" transform="translate(-856.1 -4)"/></svg>
						</span>
						<span>Stop</span>
					</a>
					<% else %>
					<a class="btn btn-sm ml-2" data-method="post" href="/cdn/<%= params[:propertyId] %>/<%= params[:type] %>/start?<% if params[:type] == "d" %>originUrl=<%= @response["originUrl"] %>&<% end %>streamingService=<%= @response["streamingService"] %>">
						<span class="running_ic">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path d="M115.8,38.8a9.506,9.506,0,0,1,7.1-2.9,9.9,9.9,0,0,1,7.1,2.9,9.506,9.506,0,0,1,2.9,7.1A9.9,9.9,0,0,1,130,53a9.506,9.506,0,0,1-7.1,2.9,9.9,9.9,0,0,1-7.1-2.9,9.506,9.506,0,0,1-2.9-7.1A9.732,9.732,0,0,1,115.8,38.8Zm5.1,11.5,6-4.5-6-4.5Z" transform="translate(-112.9 -35.9)"/></svg>
						</span>
						<span>Start</span>
					</a>
					<% end %>
				</div>
				<div class="dashboard__heading-action-item">
					<a class="btn btn-sm ml-2<% if @response["active"] != false %> disabled<% end %>" data-method="post" href="/cdn/<%= params[:propertyId] %>/<%= params[:type] %>/delete" data-confirm="Are you sure?">
						<span class="trash_ic">
							<svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18"><path d="M425.5,1047v2h-14v-2H415l1-1h5l1,1Zm-12.9,15v-12h12v12a2.051,2.051,0,0,1-2,2h-8a2.051,2.051,0,0,1-2-2Z" transform="translate(-411.5 -1046)"/></svg>
						</span>
						<span>Delete</span>
					</a>
				</div>
			</div>
		</div>
		<div class="dashboard__container">
			<% if @response["active"] == false %>
			<div class="dashboard__container-message warning">
				Your service is currently stopped. You cannot do anything until this service is reopened
			</div>
			<% end %>
			<div class="dashboard__container-card clearfix">
				<div class="dashboard__container-card">
					<div class="dashboard__container-card-item<% if @response["active"] == false %> disabled<% end %>">
						<% if @response["active"] == false %>
							<div class="dashboard__container-card-item-disabled"></div>
						<% end %>
						<div class="delivery">
							<% if params[:type] == "d" %>
								<%= form_for "", url: {action: :deliveryUpdate, controller: :default}, method: :put, html: { multipart: true } do |f|%>
									<div class="form-group">
										<%= f.label :deliveryUrl, 'Delivery Domain Name' %>
										<%= f.text_field :deliveryUrl, value: @response["name"], class: 'form-control', disabled: true %>
										<%= f.hidden_field :propertyId, value: params[:propertyId] %>
										<%= f.hidden_field :deliveryStatus, value: @response["active"] %>
										<small id="domainlHelp" class="form-text text-muted">Domain name can only contain lowercase letters, digits, hyphens, or periods. Please enter a valid domain name. E.g: 'www.domain.com'.</small>
									</div>

									<div class="form-group">
										<%= f.label :originUrl, 'Origin Domain' %>
										<%= f.text_field :originUrl, value: @response["originUrl"], class: 'form-control' %>
										<small id="domainlHelp" class="form-text text-muted">Origin domain name can only contain lowercase letters, digits, hyphens, or periods. Please enter a valid origin serer host name or IP. E.g: 'origin.domain.com'.</small>
									</div>

							    <div class="switch-group mb-3 clearfix">
								    <label class="switch">
										  <%= f.check_box :streamingService, { class: 'custom-control-input', checked: @response["streamingService"] }, "true", "false" %>
										  <span class="slider round"></span>
										</label>
										<%= f.label :streamingService, 'Enable Streaming', class: 'switch-group-label' %>
									</div>

							    <div class="text-left mt-3">
							      <%= button_tag(type: "submit", class: "btn btn-default primary btn-sm mr-3") do %>
							        Save
							      <% end %>
							      <a href="<%= cdn_url %>" class="btn btn-light btn-sm">Back</a>
							    </div>
								<% end %>
							<% elsif params[:type] == "f" %>
								<%= form_for "", url: {action: :deliveryUpdate, controller: :default}, method: :put, html: { multipart: true } do |f|%>
									<div class="form-group">
										<%= f.label :deliveryUrl, 'File Download Name' %>
										<%= f.text_field :deliveryUrl, value: @response["name"], class: 'form-control', disabled: true %>
										<%= f.hidden_field :propertyId, value: params[:propertyId] %>
										<%= f.hidden_field :deliveryType, value: params[:type] %>
										<%= f.hidden_field :deliveryStatus, value: @response["active"] %>
										<small id="domainlHelp" class="form-text text-muted">Domain name can only contain lowercase letters, digits, hyphens, or periods. Please enter a valid domain name. E.g: 'www.domain.com'.</small>
									</div>

									<% if params[:changepw] == "true" %>
									<div class="form-group">
										<%= f.label :ftpPassword, 'Ftp Password' %>
										<%= f.text_field :ftpPassword, class: 'form-control' %>
										<small id="domainlHelp" class="form-text text-muted">Password must be strong e.g: include number and character, avoid using name.</small>
									</div>
									<% end %>

									<div class="switch-group mb-3 clearfix">
								    <label class="switch">
										  <%= f.check_box :streamingService, { class: 'custom-control-input', checked: @response["streamingService"] }, "true", "false" %>
										  <span class="slider round"></span>
										</label>
										<%= f.label :streamingService, 'Enable Streaming', class: 'switch-group-label' %>
									</div>

							    <div class="text-left mt-3">
							      <%= button_tag(type: "submit", class: "btn btn-default primary btn-sm mr-3") do %>
							        Save
							      <% end %>
							      <a href="<%= cdn_url %>" class="btn btn-light btn-sm">Back</a>
							    </div>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="portal__main-right">
	<div class="panel">
		<div class="panel__heading">
			panel.right.delivery.heading
		</div>
	</div>
</div>