<div class="portal__main-left">
	<div class="panel">
		<div class="panel__heading">
			panel.delivery.heading
		</div>
		<div class="panel__list">
			panel.delivery.list
		</div>
	</div>
</div>
<div class="portal__main-center croped smallest">
	<div class="dashboard">
		<div class="dashboard__heading">
			<div class="dashboard__heading-action-list clearfix">
				<div class="dashboard__heading-action-item">
					<div class="btn btn-sm ml-2" onclick="window.location = '<%= delivery_url %>/create'">
						<span class="add_ic">
							<svg xmlns="http://www.w3.org/2000/svg" width="20.1" height="20" viewBox="0 0 20.1 20"><path d="M521.4,422.6v14h14v2h-14a2.051,2.051,0,0,1-2-2v-14Zm16.1-4a2.051,2.051,0,0,1,2,2v12a2.051,2.051,0,0,1-2,2h-12a2.051,2.051,0,0,1-2-2v-12a2.051,2.051,0,0,1,2-2Zm-1.1,9v-2h-4v-4h-2v4h-4v2h4v4h2v-4Z" transform="translate(-519.4 -418.6)"/></svg>
						</span>
						<span>Add Service</span>
					</div>
				</div>
				<div class="dashboard__heading-action-item">
					<a href="<%= request.fullpath %>" class="btn btn-sm ml-2">
						<span class="reload_ic">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" viewBox="0 0 16 20"><path d="M455.5,38.8a8.1,8.1,0,0,1,5.7,2.3,7.473,7.473,0,0,1,2.3,5.6,7.787,7.787,0,0,1-2.4,5.7,7.626,7.626,0,0,1-5.6,2.3,8.023,8.023,0,0,1-8-8h2a5.447,5.447,0,0,0,1.8,4.2,6.174,6.174,0,0,0,4.2,1.8,5.6,5.6,0,0,0,4.2-1.8,6.174,6.174,0,0,0,1.8-4.2,5.447,5.447,0,0,0-1.8-4.2,6.174,6.174,0,0,0-4.2-1.8v4l-5-5,5-5Z" transform="translate(-447.5 -34.7)"/></svg>
						</span>
						<span>Reload</span>
					</a>
				</div>
				<div class="dashboard__heading-action-item">
					<div class="btn btn-sm ml-2 disabled">
						<span class="pause_ic">
							<svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14"><path d="M856.1,18V4h4V18Zm8-14h4V18h-4Z" transform="translate(-856.1 -4)"/></svg>
						</span>
						<span>Stop</span>
					</div>
				</div>
				<div class="dashboard__heading-action-item">
					<div class="btn btn-sm ml-2 disabled">
						<span class="trash_ic">
							<svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18"><path d="M425.5,1047v2h-14v-2H415l1-1h5l1,1Zm-12.9,15v-12h12v12a2.051,2.051,0,0,1-2,2h-8a2.051,2.051,0,0,1-2-2Z" transform="translate(-411.5 -1046)"/></svg>
						</span>
						<span>Delete</span>
					</div>
				</div>
			</div>
		</div>
		<div class="dashboard__container light">
			<% if current_user.phone.nil? %>
			<div class="dashboard__container-message">
				dashboard.container.message
			</div>
			<% end %>
			<div class="dashboard__container-card clearfix">
				<div class="dashboard__container-table">
					<div class="dashboard__container-table-search">
						<input type="" name="" id="search" class="dashboard__container-table-search-input" placeholder="Filter Domain">
					</div>
					<div class="dashboard__container-table-content">
						<div class="delivery mt-3">
							<table class="table croped mb-0">
								<thead>
									<tr>
										<th>Domain</th>
										<th>Scenario Type</th>
										<th>Status</th>
										<th>Operation</th>
									</tr>
								</thead>
								<tbody>
									<% @domainItems.each do |item| %>
										<% if !item["f5WafEnabled"].nil? %>
											<tr>
												<td><a href="<%= delivery_url %>/<%= item["id"] %>/d"><%= item["name"] %></a></td>
												<td>Website Acceleration</td>
												<td><% if item["active"] == true %>Active<% end %></td>
												<td><div class="btn btn-sm" onclick="window.location = '<%= delivery_url %>/<%= item["id"] %>/d/edit'"><span>Edit</span></div></td>
											</tr>
										<% else %>
											<tr>
												<td><a href="<%= delivery_url %>/<%= item["id"] %>/f"><%= item["name"] %></a></td>
												<td>Large File Download</td>
												<td><% if item["active"] == true %>Active<% end %></td>
												<td><div class="btn btn-sm" onclick="window.location = '<%= delivery_url %>/<%= item["id"] %>/f/edit'"><span>Edit</span></div></td>
											</tr>
										<% end %>
									<% end %>
								</tbody>
							</table>
							<%= will_paginate @domainItems %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="portal__main-right">
	<div class="panel">
		<div class="panel__heading">
			panel.right.delivery.heading
		</div>
	</div>
</div>