<div class="portal__main-heading">
	<a href="<%= delivery_url %>" class="back">Back</a>
</div>
<div class="portal__main-left expanded">
	<div class="panel">
		<div class="panel__list">
			panel.delivery.list
		</div>
	</div>
</div>
<div class="portal__main-center primary croped">
	<div class="dashboard">
		<div class="dashboard__container">
			<% if current_user.phone.nil? %>
			<div class="dashboard__container-message warning">
				dashboard.container.message
			</div>
			<% end %>
			<div class="dashboard__container-card clearfix">
				<div class="dashboard__container-card">
					<div class="dashboard__container-card-item">
						<div class="delivery">
							<h5>Edit Domain/File Download</h5>
							<% if params[:type] == "d" %>
								<%= form_for "", url: {action: :deliveryUpdate, controller: :default}, method: :put, html: {class: 'mt-3', id: 'form', multipart: true} do |f|%>
									<div class="form-group">
										<%= f.label :deliveryUrl, 'Delivery Domain Name' %>
										<%= f.text_field :deliveryUrl, value: @response["name"], class: 'form-control', disabled: true %>
										<%= f.hidden_field :propertyId, value: params[:propertyId] %>
										<small id="domainlHelp" class="form-text text-muted">Domain name can only contain lowercase letters, digits, hyphens, or periods. Please enter a valid domain name. E.g: 'www.domain.com'.</small>
									</div>

									<div class="form-group">
										<%= f.label :originUrl, 'Origin Domain' %>
										<%= f.text_field :originUrl, value: @response["originUrl"], class: 'form-control' %>
										<small id="domainlHelp" class="form-text text-muted">Origin domain name can only contain lowercase letters, digits, hyphens, or periods. Please enter a valid origin serer host name or IP. E.g: 'origin.domain.com'.</small>
									</div>

							    <div class="switch-group mb-3 clearfix">
								    <label class="switch">
										  <%= f.check_box :streamingService, { class: 'custom-control-input', checked: @response["streamingService"] }, "true", "false" %>
										  <span class="slider round"></span>
										</label>
										<%= f.label :streamingService, 'Enable Streaming', class: 'switch-group-label' %>
									</div>

							    <div class="switch-group clearfix">
								    <label class="switch">
										  <%= f.check_box :deliveryStatus, { class: 'custom-control-input', checked: @response["active"] }, "true", "false" %>
										  <span class="slider round"></span>
										</label>
										<%= f.label :deliveryStatus, 'Enable Service', class: 'switch-group-label' %>
									</div>

							    <div class="text-left mt-3">
							      <%= button_tag(type: "submit", class: "btn btn-default primary mr-3") do %>
							        Submit
							      <% end %>
							    </div>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>