<div class="portal__main-heading">
	<span class="btn btn-default btn-sm ml-2">
		<a href="<%= cdn_url %>" class="back_ic"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 18 12"><path d="M353.6,392.8v2H339.4l3.6,3.6-1.4,1.4-6-6,6-6,1.4,1.4-3.6,3.6Z" transform="translate(-335.6 -387.8)" fill="#f68100"/></svg></a>
	</span>
</div>
<div class="portal__main-left expanded">
	<div class="panel">
		<div class="panel__list">
			panel.delivery.list
		</div>
	</div>
</div>
<div class="portal__main-center primary croped">
	<div class="dashboard">
		<div class="dashboard__container">
			<% if current_user.phone.nil? %>
			<div class="dashboard__container-message">
				dashboard.container.message
			</div>
			<% end %>
			<div class="dashboard__container-card clearfix">
				<div class="dashboard__container-table">
					<div class="dashboard__container-table-select clearfix">
						<a href="<%= cdn_url %>/<%= params[:propertyId] %>/<%= params[:type] %>" class="dashboard__container-table-select-item">Details</a>
						<a href="<%= cdn_url %>/<%= params[:propertyId] %>/<%= params[:type] %>/reports?domain=<%= params[:domain] %>" class="dashboard__container-table-select-item">Reports</a>
						<a href="<%= request.fullpath %>" class="dashboard__container-table-select-item active">Logs</a>
					</div>
					<div class="dashboard__container-table-content mt-3">
						<div class="dashboard__container-card mt-3">
							<div class="dashboard__container-card-item">
								<table class="table mb-0">
									<thead>
										<tr>
											<th>Log File Name</th>
											<th>Size</th>
											<th>Log Date</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										<% @logItems.each do |time, item| %>
											<tr>
												<td><%= item["name"] %></td>
												<td><%= number_to_human_size(item["size"], separator: ".", delimiter: ",") %></td>
												<td><%= time %></td>
												<td><a href="<%= item["url"] %>" class="primary">Download</a></td>
											</tr>
										<% end %>
									</tbody>
								</table>
								<%= will_paginate @logItems, :params => {:for => params[:domain]} %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>