<div class="portal__main-left expanded">
	<div class="panel">
		<div class="panel__heading">
			<a nohref class="btn btn-default btn-sm ml-2">
		    <span>
		      Dashboard
		    </span>
		  </a>
		</div>
		<div class="panel__list main">
			<div class="main__options-list">
				<div class="main__options-list-item clearfix" onclick="window.location = '<%= cdn_url %>'">
					<div class="main__options-list-item-ic">
						<div class="was_ic">
							<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19">
								<path d="M816.1,426.1a.5.5,0,1,1-.5.5A.472.472,0,0,1,816.1,426.1Zm0,4a.5.5,0,1,1-.5.5A.472.472,0,0,1,816.1,430.1Zm2.3-8.2a.967.967,0,1,1-.3.7A.908.908,0,0,1,818.4,421.9Zm0,4a.967.967,0,1,1-.3.7A.908.908,0,0,1,818.4,425.9Zm0,4a.967.967,0,1,1-.3.7A.908.908,0,0,1,818.4,429.9Zm0,4a.967.967,0,1,1-.3.7A.908.908,0,0,1,818.4,433.9Zm3.6-8.4a1.712,1.712,0,1,1-.4,1.1A1.82,1.82,0,0,1,822,425.5Zm0,4.1a1.712,1.712,0,1,1-.4,1.1A1.82,1.82,0,0,1,822,429.6Zm1.8-6.3a.967.967,0,1,1,.3-.7A.908.908,0,0,1,823.8,423.3Zm-1.4,10.6a.967.967,0,1,1-.3.7A.908.908,0,0,1,822.4,433.9Zm.7-13.8a.5.5,0,1,1,.5-.5A.472.472,0,0,1,823.1,420.1Zm0,17a.5.5,0,1,1-.5.5A.472.472,0,0,1,823.1,437.1Zm3-11.6a1.712,1.712,0,1,1-.4,1.1A1.366,1.366,0,0,1,826.1,425.5Zm0,4.1a1.712,1.712,0,1,1-.4,1.1A1.366,1.366,0,0,1,826.1,429.6Zm1.7-6.3a.967.967,0,1,1,.3-.7A.908.908,0,0,1,827.8,423.3Zm-1.4,10.6a.967.967,0,1,1-.3.7A.908.908,0,0,1,826.4,433.9Zm.7-13.8a.5.5,0,1,1,.5-.5A.472.472,0,0,1,827.1,420.1Zm0,17a.5.5,0,1,1-.5.5A.472.472,0,0,1,827.1,437.1Zm3.3-15.2a.967.967,0,1,1-.3.7A.908.908,0,0,1,830.4,421.9Zm0,4a.967.967,0,1,1-.3.7A.908.908,0,0,1,830.4,425.9Zm0,4a.967.967,0,1,1-.3.7A.908.908,0,0,1,830.4,429.9Zm0,4a.967.967,0,1,1-.3.7A.908.908,0,0,1,830.4,433.9Zm3.7-6.8a.5.5,0,1,1,.5-.5C834.6,426.9,834.5,427.1,834.1,427.1Zm0,3a.5.5,0,1,1-.5.5A.472.472,0,0,1,834.1,430.1Z" transform="translate(-815.6 -419.1)"/></svg>
						</div>
					</div>
					<div class="main__options-list-item-info">
						<h6>Content Delivery Service</h6>
						<small>Manage your Web Acceleration Service</small> 
					</div>
					<div class="main__options-list-item-arrow"></div>
				</div>
				<% if current_user.accountType == 2 %>
				<div class="main__options-list-item clearfix" onclick="window.location = '<%= reseller_url %>'">
					<div class="main__options-list-item-ic">
						<div class="reseller_ic">
							<svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20"><path d="M277.7,1115.6a2.051,2.051,0,0,1,2,2v14a2.051,2.051,0,0,1-2,2h-14a1.816,1.816,0,0,1-1.4-.6,1.974,1.974,0,0,1-.6-1.4v-14a2.051,2.051,0,0,1,2-2h1v-2h2v2h8v-2h2v2Zm-1,15v-1c0-.9-.7-1.6-2.1-2.2a9.96,9.96,0,0,0-3.9-.9,9.587,9.587,0,0,0-3.9.9c-1.3.6-2.1,1.3-2.1,2.2v1Zm-3.9-11.1a2.9,2.9,0,1,0,.9,2.1A2.878,2.878,0,0,0,272.8,1119.5Z" transform="translate(-261.7 -1113.6)"/></svg>
						</div>
					</div>
					<div class="main__options-list-item-info">
						<h6>Reseller Management</h6>
						<small>Manage Reseller</small> 
					</div>
					<div class="main__options-list-item-arrow"></div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="portal__main-center primary croped">
	<div class="dashboard">
		<div class="dashboard__heading">
			<div class="dashboard__heading-action-list">
				<div class="dashboard__heading-action-item">
					<div class="btn btn-sm ml-2" onclick="window.location = '<%= cdn_url %>/create'">
						<span class="add_ic">
							<svg xmlns="http://www.w3.org/2000/svg" width="20.1" height="20" viewBox="0 0 20.1 20"><path d="M521.4,422.6v14h14v2h-14a2.051,2.051,0,0,1-2-2v-14Zm16.1-4a2.051,2.051,0,0,1,2,2v12a2.051,2.051,0,0,1-2,2h-12a2.051,2.051,0,0,1-2-2v-12a2.051,2.051,0,0,1,2-2Zm-1.1,9v-2h-4v-4h-2v4h-4v2h4v4h2v-4Z" transform="translate(-519.4 -418.6)"/></svg>
						</span>
						<span>Add Service</span>
					</div>
				</div>
			</div>
		</div>
		<div class="dashboard__container">
			<% if current_user.phone.nil? %>
      <div class="dashboard__container-message warning">
        <p><span class="alert_ic"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 20 20"><path d="M4.9,4A9.6,9.6,0,0,1,12,1a10.068,10.068,0,0,1,7.1,2.9A9.506,9.506,0,0,1,22,11a9.9,9.9,0,0,1-2.9,7.1A9.506,9.506,0,0,1,12,21,9.9,9.9,0,0,1,2,11,9.669,9.669,0,0,1,4.9,4ZM13,12V6H11v6Zm0,4V14H11v2Z" transform="translate(-2 -1)" fill="#d97917"/></svg></span><span>Please update your personal information</span></p>
      </div>
      <% end %>
			<% if current_user.credit.card_token.present? && current_user.credit.transactions.where(card_number: current_user.credit.last4, status: 'failed').present? %>
      <div class="dashboard__container-message warning">
        <p class="mb-0 ml-0"><span class="alert_ic"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 20 20"><path d="M4.9,4A9.6,9.6,0,0,1,12,1a10.068,10.068,0,0,1,7.1,2.9A9.506,9.506,0,0,1,22,11a9.9,9.9,0,0,1-2.9,7.1A9.506,9.506,0,0,1,12,21,9.9,9.9,0,0,1,2,11,9.669,9.669,0,0,1,4.9,4ZM13,12V6H11v6Zm0,4V14H11v2Z" transform="translate(-2 -1)" fill="#d97917"/></svg></span>We have a problem with your card <%= current_user.credit.card_brand %> •••• <%= current_user.credit.last4 %>. Please check transaction logs for more detail</p>
      </div>
      <% end %>
			<% if current_user.subscription.present? && current_user.subscription.status == 2 && current_user.credit.credit_value == 0 && current_user.credit.payment_type == 1 %>
        <div class="dashboard__container-message warning">
        	<h6><span class="alert_ic"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 20 20"><path d="M4.9,4A9.6,9.6,0,0,1,12,1a10.068,10.068,0,0,1,7.1,2.9A9.506,9.506,0,0,1,22,11a9.9,9.9,0,0,1-2.9,7.1A9.506,9.506,0,0,1,12,21,9.9,9.9,0,0,1,2,11,9.669,9.669,0,0,1,4.9,4ZM13,12V6H11v6Zm0,4V14H11v2Z" transform="translate(-2 -1)" fill="#d97917"/></svg></span>Your subscription has been suspended</h6>
          <p>Oop ! You have <%= current_user.credit.transactions.where(status: "failed").size %> transaction failed. Please check your payment and resolve this problem.</p>
        </div>
      <% end %>
      <% if flash[:method_error] %>
      <div class="dashboard__container-message warning">
        <p class="mb-0 ml-0"><span class="alert_ic"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 20 20"><path d="M4.9,4A9.6,9.6,0,0,1,12,1a10.068,10.068,0,0,1,7.1,2.9A9.506,9.506,0,0,1,22,11a9.9,9.9,0,0,1-2.9,7.1A9.506,9.506,0,0,1,12,21,9.9,9.9,0,0,1,2,11,9.669,9.669,0,0,1,4.9,4ZM13,12V6H11v6Zm0,4V14H11v2Z" transform="translate(-2 -1)" fill="#d97917"/></svg></span><span><%= flash[:method_error] %>. You can reload page or contact us for more detail.</span></p>
      </div>
			<% end %>
			<% if current_user.accountType == 2 %>
			<div class="dashboard__container-card">
				<div class="dashboard__container-card-item mb-3 usage">
					<div class="dashboard__container-card-item-heading">
            <h6 class="mb-0">Usages</h6>
            <span>Total traffics & storage all accounts dependened</span>
          </div>
          <div class="usage">
          	<div class="usage-trend">
          		<div id="totalBandwidth" style="width:100%; height:150px;"></div>
          	</div>
          </div>
				</div>
			</div>
			<% end %>
			<div class="dashboard__container-card clearfix">
				<div class="dashboard__container-card-col-4">
					<div class="dashboard__container-card-item info">
						<div class="dashboard__container-card-item-heading">
	            <h6>Sales & Technical Support</h6>
	            <span>Contact for emergency</span>
	          </div>
	          <div class="info">
            	<div class="info-support">
            		<span>Hotline</span>
            		<h6>(+84)-828 7306 8789</h6>
            	</div>
            	<div class="info-uuid">
            		<span>ServiceID: <b><%= current_user.username %></b></span>
            	</div>
            </div>
					</div>
					<div class="dashboard__container-card-item billing">
						<div class="dashboard__container-card-item-heading">
	            <h6>Billing</h6>
	            <span>Estimated charge for billing period</span>
	          </div>
	          <div class="billing">
	          	<div class="billing-period">
	          		<span><%= Date.current.beginning_of_month.strftime("%B %d") %> - <%= Date.current.strftime("%d, %Y") %></span>
	          		<h6><%= ApplicationController::FormatNumber.new(@totalPrice).formatCurrency() %></h6>
	          	</div>
	          	<div class="billing-detail clearfix">
	          		<a href="<%= account_billing_url %>">
	            		<span class="billing_ic">
	            			<svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18"><path d="M205.8,1026.2v1a2.051,2.051,0,0,1-2,2h-14a1.816,1.816,0,0,1-1.4-.6,1.974,1.974,0,0,1-.6-1.4v-14a2.051,2.051,0,0,1,2-2h14a2.051,2.051,0,0,1,2,2v1h-9a1.816,1.816,0,0,0-1.4.6,1.974,1.974,0,0,0-.6,1.4v8a2.051,2.051,0,0,0,2,2Zm-9-2v-8h10v8Zm2.9-2.9a1.712,1.712,0,1,0-.4-1.1A1.366,1.366,0,0,0,199.7,1021.3Z" transform="translate(-187.8 -1011.2)"/></svg>
	            		</span>
	            		<span>View Detail</span>
	            	</a>
	          	</div>
	          </div>
					</div>
				</div>
				<div class="dashboard__container-card-col-8">
					<div class="dashboard__container-card-item trending">
						<div class="dashboard__container-card-item-heading">
	            <h6>Trending</h6>
	            <span>Summary usage trend in the year</span>
	          </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% if current_user.accountType == 2 %>
<script type="text/javascript">
	function beautifyDateTime(param) {
		return moment(param).format("YYYY-MM");
	}

	function formatHitRateUnit(param) {
    return param + '%';
  }

  function formatRequest(param) {
    return param;
  }

	function formatVolumeUnit(param) {
    var volumeUnit = ["B", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB", "BB", "NB", "DB", "CB", "XB"];
    var i = 0;

    while (param > 1000) {
      param = param / 1000;
      ++i;
    }
    param = (Math.round(param * 100) / 100).toFixed(2) + " " + volumeUnit[i];
    return param;
  }

  function formatBandwidthUnit(param) {
    var unit = ["bps", "Kbps", "Mbps", "Gbps", "Tbps", "Pbps", "Ebps", "Zbps", "Ybps", "Bbps", "Nbps", "Dbps", "Cbps", "Xbps"];

    var i = 0;
    while (param > 1000) {
      param = param / 1000;
      ++i;
    }
    param = (Math.round(param * 100) / 100).toFixed(2) + " " + unit[i];
    return param;
  }

	var requestTotalBandwidthChart = echarts.init(document.getElementById('totalBandwidth'));
  var option = {
  	tooltip: {
			trigger: 'axis',
      formatter: function (params) {
				let storage = formatVolumeUnit(params[0].data);
				let traffic = formatVolumeUnit(params[1].data);
				return '<span style="display:inline-block;margin-right:5px;border-radius:10px;width:10px;height:10px;background-color:#f68100;"></span>Bandwidth: '+traffic+'<br/><span style="display:inline-block;margin-right:5px;border-radius:10px;width:10px;height:10px;background-color:#f1f1f1;"></span>Storage: '+storage;
			}
		},
	  legend: {
      data:['Total Storage','Total Bandwidth']
    },
    grid: {
    	left: '3%',
      right: '3%',
      bottom: '20px'
    },
    xAxis: {
    	type: 'category',
      boundaryGap : false,
      data: [
      	<% @totalMonths.each do |month| %>
      	"<%= month %>",
      	<% end %>
      ],
      axisLabel: {
      	formatter: function (value, index) {
          return beautifyDateTime(value);
        }
      }
    },
    yAxis: {
    	show: false,
    	type: 'value',
      axisLabel: {
        formatter: function (value, index) {
          return formatVolumeUnit(value);
        }
      }
    },
    color: [
    	"#e1e1e1","#f68100"
    ],
    toolbox: {
      show : true,
      feature : {
        saveAsImage : {
        	show: true,
        	title: ' ',
        }
      }
    },
    series: [
	    {
	      name: 'Total Storage',
	      type: 'line',
	      data:[
	      	<% @totalStorage.each do |storage| %>
	      		"<%= storage %>",
	      	<% end %>
	      ]
	    },
	    {
	      name: 'Total Bandwidth',
	      type: 'line',
	      data:[
	      	<% @totalBandwidth.each do |bandwidth| %>
	      		"<%= bandwidth %>",
	      	<% end %>
	      ]
	    }
    ]
  };
  requestTotalBandwidthChart.setOption(option);
</script>
<% end %>