<%= render 'notification_mailer/shared/header' %>
<table bgcolor="#ffffff" width="600" align="center" cellspacing="0" cellpadding="0" border="0" style="width:600px;max-width:600px;margin:0 auto;background-color:#ffffff;border-collapse:collapse;border-radius: 6px">
  <tbody>
    <tr>
      <td style="font-family:Google Sans,Roboto,Arial;font-size:1rem;letter-spacing:0.75px;padding:2rem">
        <h1 style="font-size:1.75rem;margin-top:0;margin-bottom:1.5rem"><b>Credit Card Linked</b></h1>
        <h3 style="font-size:1rem;margin-bottom:1rem;display:block;;float:unset"><b>Dear <%= @name %>,</b></h3>
        <p style="margin-top:1rem;margin-bottom:1rem">You recently linked a Credit Card to your account. Your card information in bellow:</p>
        <table align="center" cellspacing="0" cellpadding="0" border="0" style="width:100%;margin:0 auto;border-collapse:collapse">
          <tbody>
            <tr style="border-top: 1px solid #f1f1f1;border-bottom: 1px solid #f1f1f1;">
              <td style="width:33.33%;padding:1rem">
                <span>Information</span>
                <h3 style="font-size:1rem;margin-bottom:0;display:block;;float:unset"><b><%= @card_brand %> •••• <%= @card_number %></b></h3>
              </td>
              <td style="width:33.33%;padding:1rem">
                <span>Expires</span>
                <h3 style="font-size:1rem;margin-bottom:0;display:block;;float:unset"><b><%= @expires %></b></h3>
              </td>
              <td style="width:33.33%;padding:1rem"></td>
            </tr>
          </tbody>
        </table>
        <p style="margin-top:1rem;margin-bottom:0">Please check your card available for making payment. You don't need to receive an invoice every month. Your subscription payment automatic and we will send you a receipt on the first day of the month.</p>
      </td>
    </tr>
  </tbody>
</table>
<%= render 'notification_mailer/shared/footer' %>