<div class="portal__main-heading">
	<a href="<%= url_for(:back) %>" class="btn btn-default btn-sm ml-2">
    <span class="back_ic">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 18 12">
        <path d="M353.6,392.8v2H339.4l3.6,3.6-1.4,1.4-6-6,6-6,1.4,1.4-3.6,3.6Z" transform="translate(-335.6 -387.8)" fill="#333333"/>
      </svg>
    </span>
    <span>
      Back
    </span>
  </a>
</div>
<div class="portal__main-left expanded">
	<div class="panel">
		<div class="panel__list main">
			<div class="main__options-list">
				<div class="main__options-list-item clearfix" onclick="window.location = '<%= reseller_package_url %>'">
					<div class="main__options-list-item-ic">
						<div class="package_ic">
							<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18.1" viewBox="0 0 18 18.1"><path d="M168.4,143.5a2.106,2.106,0,0,1,.5,1.3v12.5a2.051,2.051,0,0,1-2,2h-14a2.051,2.051,0,0,1-2-2V144.8a2.106,2.106,0,0,1,.5-1.3l1.4-1.7a1.426,1.426,0,0,1,1.2-.6h12a1.425,1.425,0,0,1,1.2.6Zm-15.5-.3h13.8l-.9-1h-12Z" transform="translate(-150.9 -141.2)"/></svg>
						</div>
					</div>
					<div class="main__options-list-item-info">
						<h6>Package Management</h6>
						<small>Manage all packages</small> 
					</div>
					<div class="main__options-list-item-arrow"></div>
				</div>
				<div class="main__options-list-item clearfix active" onclick="window.location = '<%= reseller_package_create_url %>'">
					<div class="main__options-list-item-ic">
						<div class="add_ic">
							<svg xmlns="http://www.w3.org/2000/svg" width="17.9" height="18" viewBox="0 0 17.9 18"><path d="M55.9,141.2a2.051,2.051,0,0,1,2,2v14a2.051,2.051,0,0,1-2,2H42a1.816,1.816,0,0,1-1.4-.6,1.974,1.974,0,0,1-.6-1.4v-14a2.051,2.051,0,0,1,2-2Zm-1.9,10v-2H50v-4H48v4H44v2h4v4h2v-4Z" transform="translate(-40 -141.2)"/></svg>
						</div>
					</div>
					<div class="main__options-list-item-info">
						<h6>Create Package</h6>
						<small>Add new package</small> 
					</div>
					<div class="main__options-list-item-arrow">
						<div class="arrow_ic">
							<svg xmlns="http://www.w3.org/2000/svg" width="7.4" height="12" viewBox="0 0 7.4 12"><path d="M267.3,398.2l4.6-4.6-4.6-4.6,1.4-1.4,6,6-6,6Z" transform="translate(-267.3 -387.6)" fill="#f68100"/></svg>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="portal__main-center primary croped">
	<div class="dashboard">
		<div class="dashboard__container">
			<div class="dashboard__container-card clearfix">
				<div class="dashboard__container-card">
					<div class="dashboard__container-card-item">
						<%= form_for [Subscription.new], url: {action: :packageAdd, controller: :reseller}, method: :post, html: { id: 'form', multipart: true } do |f|%>
						  
						  <div class="form-actions mt-4">
						    <%= button_tag(type: "submit", class: "btn btn-default primary mr-3") do %>
						      Submit
						    <% end %>

						    <a href="<%= reseller_package_url %>" class="btn btn-light">Back</a>
						  </div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>