<div class="signin__content">
  <div class="container">
    <%= render "users/shared/head" %>
    <div class="wrapper">
      <h3>Change your password</h3>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.hidden_field :reset_password_token %>
        <div class="form-group mt-3">
          <%= f.label :password, "New password" %><br />
          <%= f.password_field :password, :class => 'form-control', autofocus: true, autocomplete: "off" %>
          <% if @minimum_password_length %>
          <small id="passwordHelp" class="form-text text-muted"><%= @minimum_password_length %> characters minimum</small>
          <% end %>
        </div>

        <div class="form-group mt-3">
          <%= f.label :password_confirmation, "Confirm new password" %><br />
          <%= f.password_field :password_confirmation, :class => 'form-control', autocomplete: "off" %>
        </div>

        <div class="mt-3">
          <%= f.submit "Change my password", :class => 'btn btn-default primary btn-block mb-3' %>
          <div class="signup__refer">
            <div class="signup__refer-heading">
              <p>Sign in with another account</p>
            </div>
            <div class="signup__refer-content">
              <a href="<%= root_url %>" class="btn btn-light btn-block">Customer Sign in</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="signin__content-footer">
      <p>© <%= Date.current.strftime("%Y") %> <% if @parent_uuid.company.present? %><%= @parent_uuid.company %><% else %>VNCDN<% end %></span>
    </div>
  </div>
</div>