<div class="portal__main-heading">
	<span class="btn btn-default btn-sm ml-2">
		<a href="<%= url_for(:back) %>" class="back_ic"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 18 12"><path d="M353.6,392.8v2H339.4l3.6,3.6-1.4,1.4-6-6,6-6,1.4,1.4-3.6,3.6Z" transform="translate(-335.6 -387.8)" fill="#f68100"/></svg></a>
	</span>
</div>
<div class="portal__main-left expanded">
	<div class="panel">
		<div class="panel__list">
			panel.account.list
		</div>
	</div>
</div>
<div class="portal__main-center primary croped">
	<div class="dashboard">
		<div class="dashboard__container">
			<div class="dashboard__container-card clearfix">
				<div class="dashboard__container-card-item">
					<%= form_for [current_user], :url => url_for(account_detail_update_path), html: {class: 'admin-form mt-4'} do |f| %>
					  <div class="form-group vertical row">
		          <%= f.label :name, 'Name', class: 'col-sm-2 col-form-label text-right' %>
		          <div class="col-sm-9">
		            <%= f.text_field :name, placeholder: 'Enter your name', class: 'form-control', :required => true %>
		          </div>
		        </div>
		        <div class="form-group vertical row">
		          <%= f.label :email, 'Email', class: 'col-sm-2 col-form-label text-right' %>
		          <div class="col-sm-9">
		            <%= f.text_field :email, placeholder: 'Email', class: 'form-control', :required => true, disabled: true %>
		            <small>This email can't change, please contact with us if you need to change</small>
		          </div>
		        </div>
		        <div class="form-group vertical row">
		          <%= f.label :phone, 'Phone', class: 'col-sm-2 col-form-label text-right' %>
		          <div class="col-sm-9">
					      <%= f.text_field :phone, placeholder: 'Enter your phone number', class: 'form-control', :required => true %>
		          </div>
		        </div>
		        <div class="form-group vertical row">
		          <%= f.label :company, 'Organization', class: 'col-sm-2 col-form-label text-right' %>
		          <div class="col-sm-9">
					      <%= f.text_field :company, placeholder: 'Your Organization name', class: 'form-control' %>
		          </div>
		        </div>
		        <div class="row mt-3">
		          <div class="col-sm-2"></div>
		          <div class="col-sm-9">
					      <%= button_tag(type: "submit", class: "btn btn-default primary mr-3") do %>
						      Submit
						    <% end %>
						    <a href="<%= account_url %>" class="btn btn-light">Back</a>
		          </div>
		        </div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>