<div class="portal__main-heading">
  <a href="<%= url_for(:back) %>" class="btn btn-default btn-sm ml-2">
    <span class="back_ic">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 18 12">
        <path d="M353.6,392.8v2H339.4l3.6,3.6-1.4,1.4-6-6,6-6,1.4,1.4-3.6,3.6Z" transform="translate(-335.6 -387.8)" fill="#333333"/>
      </svg>
    </span>
    <span>
      Back
    </span> 
  </a>
</div>
<div class="portal__main-left expanded">
	<div class="panel">
		<div class="panel__list main">
      <% if current_user.subscription.nil? %>
      <div class="panel__list create-notice">
        <span class="notice">You don't have any subscription. To use this service, create a subscription</span>
      </div>
      <div class="main__options-list">
        <div class="main__options-list-item clearfix active" onclick="window.location = '<%= account_subscription_url %>'">
          <div class="main__options-list-item-ic">
            <div class="add_ic">
              <svg xmlns="http://www.w3.org/2000/svg" width="17.9" height="18" viewBox="0 0 17.9 18"><path d="M55.9,141.2a2.051,2.051,0,0,1,2,2v14a2.051,2.051,0,0,1-2,2H42a1.816,1.816,0,0,1-1.4-.6,1.974,1.974,0,0,1-.6-1.4v-14a2.051,2.051,0,0,1,2-2Zm-1.9,10v-2H50v-4H48v4H44v2h4v4h2v-4Z" transform="translate(-40 -141.2)"/></svg>
            </div>
          </div>
          <div class="main__options-list-item-info">
            <h6>Create Subscription</h6>
            <small>New subscription for your account</small> 
          </div>
          <div class="main__options-list-item-arrow"></div>
        </div>
      </div>
      <% else %>
      <div class="main__options-list">
        <div class="main__options-list-item clearfix" onclick="window.location = '<%= account_url %>'">
          <div class="main__options-list-item-ic">
            <div class="account_ic">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M378.3,1126a13.812,13.812,0,0,1,6.6,0,12.157,12.157,0,0,1,3.3,1.4,2.666,2.666,0,0,1,1.5,2.2v3h-16v-3a2.8,2.8,0,0,1,1.5-2.2A8.716,8.716,0,0,1,378.3,1126Zm7.4,2.3a11.5,11.5,0,0,0-4.1-.8,11.941,11.941,0,0,0-4.1.8c-1.4.5-2,1-2,1.3v1.1h12.2v-1.1C387.7,1129.3,387,1128.8,385.7,1128.3Zm-6.9-10.5a3.867,3.867,0,1,1-1.2,2.8A3.784,3.784,0,0,1,378.8,1117.8Zm4.3,1.3a2.175,2.175,0,1,0,.6,1.5A2.035,2.035,0,0,0,383.1,1119.1Z" transform="translate(-373.7 -1116.6)"/></svg>
            </div>
          </div>
          <div class="main__options-list-item-info">
            <h6>Profile</h6>
            <small>Overview Account Information</small> 
          </div>
          <div class="main__options-list-item-arrow"></div>
        </div>
        <div class="main__options-list-item clearfix" onclick="window.location = '<%= account_detail_url %>'">
          <div class="main__options-list-item-ic">
            <div class="personal_ic">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path d="M744.1,1048a9.506,9.506,0,0,1,7.1-2.9,9.9,9.9,0,0,1,7.1,2.9,9.356,9.356,0,0,1,2.9,7.1,9.9,9.9,0,0,1-2.9,7.1,9.356,9.356,0,0,1-7.1,2.9,9.9,9.9,0,0,1-7.1-2.9,9.356,9.356,0,0,1-2.9-7.1A9.733,9.733,0,0,1,744.1,1048Zm1.5,12.7a7.73,7.73,0,0,0,5.6,2.4,7.568,7.568,0,0,0,5.6-2.4,8.146,8.146,0,0,0,2.4-5.6,8.917,8.917,0,0,0-.3-2.2,7.166,7.166,0,0,1-2.2.2,9.625,9.625,0,0,1-8.2-4.2,9.834,9.834,0,0,1-5.2,5.4v.8A7.259,7.259,0,0,0,745.6,1060.7Zm1.7-5.6a1.268,1.268,0,0,1,.9-.4,1.273,1.273,0,1,1-1.3,1.3A1.489,1.489,0,0,1,747.3,1055.1Zm6,0a1.268,1.268,0,0,1,.9-.4,1.273,1.273,0,1,1-1.3,1.3A1.489,1.489,0,0,1,753.3,1055.1Z" transform="translate(-741.2 -1045.1)"/></svg>
            </div>
          </div>
          <div class="main__options-list-item-info">
            <h6>Personal Information</h6>
            <small>Update your personal information</small> 
          </div>
          <div class="main__options-list-item-arrow"></div>
        </div>
        <div class="main__options-list-item clearfix" onclick="window.location = '<%= account_billing_url %>'">
          <div class="main__options-list-item-ic">
            <div class="billing_ic">
              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18"><path d="M205.8,1026.2v1a2.051,2.051,0,0,1-2,2h-14a1.816,1.816,0,0,1-1.4-.6,1.974,1.974,0,0,1-.6-1.4v-14a2.051,2.051,0,0,1,2-2h14a2.051,2.051,0,0,1,2,2v1h-9a1.816,1.816,0,0,0-1.4.6,1.974,1.974,0,0,0-.6,1.4v8a2.051,2.051,0,0,0,2,2Zm-9-2v-8h10v8Zm2.9-2.9a1.712,1.712,0,1,0-.4-1.1A1.366,1.366,0,0,0,199.7,1021.3Z" transform="translate(-187.8 -1011.2)"/></svg>
            </div>
          </div>
          <div class="main__options-list-item-info">
            <h6>Billing</h6>
            <small>Manage your account billing</small> 
          </div>
          <div class="main__options-list-item-arrow"></div>
        </div>
        <div class="main__options-list-item clearfix active" onclick="window.location = '<%= account_subscription_url %>'">
          <div class="main__options-list-item-ic">
            <div class="add_ic">
              <svg xmlns="http://www.w3.org/2000/svg" width="17.9" height="18" viewBox="0 0 17.9 18"><path d="M55.9,141.2a2.051,2.051,0,0,1,2,2v14a2.051,2.051,0,0,1-2,2H42a1.816,1.816,0,0,1-1.4-.6,1.974,1.974,0,0,1-.6-1.4v-14a2.051,2.051,0,0,1,2-2Zm-1.9,10v-2H50v-4H48v4H44v2h4v4h2v-4Z" transform="translate(-40 -141.2)"/></svg>
            </div>
          </div>
          <div class="main__options-list-item-info">
            <h6>Subscription Management</h6>
            <small>Manage your subscription</small> 
          </div>
          <div class="main__options-list-item-arrow">
            <div class="arrow_ic">
              <svg xmlns="http://www.w3.org/2000/svg" width="7.4" height="12" viewBox="0 0 7.4 12"><path d="M267.3,398.2l4.6-4.6-4.6-4.6,1.4-1.4,6,6-6,6Z" transform="translate(-267.3 -387.6)" fill="#f68100"/></svg>
            </div>
          </div>
        </div>
        <div class="main__options-list-item clearfix" onclick="window.location = '<%= account_password_url %>'">
          <div class="main__options-list-item-ic">
            <div class="password_ic">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="21" viewBox="0 0 16 21"><path d="M905,1085.8a2.051,2.051,0,0,1,2,2v10a2.051,2.051,0,0,1-2,2H893a2.051,2.051,0,0,1-2-2v-10a2.051,2.051,0,0,1,2-2h1v-2a4.539,4.539,0,0,1,1.5-3.5,5.288,5.288,0,0,1,3.5-1.5,4.691,4.691,0,0,1,3.5,1.5,5.288,5.288,0,0,1,1.5,3.5v2Zm0,12v-10H893v10Zm-3.8-16.2a3.1,3.1,0,0,0-5.3,2.2h.1v2h6.1v-2A3.1,3.1,0,0,0,901.2,1081.6Zm-.8,12.6a1.933,1.933,0,1,1,.6-1.4A1.64,1.64,0,0,1,900.4,1094.2Z" transform="translate(-891 -1078.8)"/></svg>
            </div>
          </div>
          <div class="main__options-list-item-info">
            <h6>Change Password</h6>
            <small>Update your sign-in password</small> 
          </div>
          <div class="main__options-list-item-arrow"></div>
        </div>
        <div class="main__options-list-item clearfix" onclick="window.location = '<%= account_notification_url %>'">
          <div class="main__options-list-item-ic">
            <div class="notification_ic">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="20" viewBox="0 0 17 20"><path d="M165.8,989.4l2,2v1h-17v-1l2-2v-5.5a6.489,6.489,0,0,1,1.4-4,5.828,5.828,0,0,1,3.6-2.3v-.7a1.5,1.5,0,0,1,.4-1.1,1.366,1.366,0,0,1,1.1-.4,1.5,1.5,0,0,1,1.1.4,1.366,1.366,0,0,1,.4,1.1v.7a6.426,6.426,0,0,1,3.6,2.3,5.935,5.935,0,0,1,1.4,4Zm-2,1v-6.5a4.377,4.377,0,0,0-1.3-3.2,4.224,4.224,0,0,0-3.2-1.3,4.377,4.377,0,0,0-3.2,1.3,4.224,4.224,0,0,0-1.3,3.2v6.5Zm-3.1,4.4a2,2,0,0,1-3.4-1.4h4A1.816,1.816,0,0,1,160.7,994.8Z" transform="translate(-150.8 -975.4)"/></svg>
            </div>
          </div>
          <div class="main__options-list-item-info">
            <h6>Email Notification</h6>
            <small>Service email notification alert</small> 
          </div>
          <div class="main__options-list-item-arrow"></div>
        </div>
      </div>
      <% end %>
		</div>
	</div>
</div>
<div class="portal__main-center primary croped">
	<div class="dashboard">
		<div class="dashboard__container<% if current_user.subscription.nil? %> light<% end %>">
      <% if current_user.credit.credit_value == 0 && current_user.credit.payment_type == 1 %>
        <div class="dashboard__container-message">
          <p class="mb-0">Your credit seem to be don't have balance. Change credit to cash or make payment to active subscription.</p>
        </div>
      <% end %>
      <% if current_user.subscription.nil? %>
  			<div class="dashboard__container-border clearfix">
  				<div class="dashboard__container-border-item subscription">
            <div class="subscription">
              <div class="subscription-create">
                <%= form_for [Subscription.new], url: {action: :subscriptionAdd, controller: :account}, method: :post, html: { id: 'form', multipart: true } do |f|%>
                  <%= f.hidden_field :name, value: "#{current_user.name.downcase.tr(" ", "")}-#{current_user.uuid}" %>
                  <%= f.hidden_field :payment_type, value: current_user.credit.payment_type %>

                  <% if current_user.parent_uuid.present? %>
                  <%= f.hidden_field :reseller, value: current_user.parent_uuid %>
                  <% end %>

                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-right">Subscription Name</label>
                    <div class="col-sm-8 col-form-value">
                      <p><%= current_user.name.downcase.tr(" ", "") %>-<%= current_user.uuid %></p>
                      <small>Subscription name <b>auto generation</b> base on your account name.</small>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-right">Credit Payment</label>
                    <div class="col-sm-8 col-form-value">
                      <p><%= paymentType(current_user.credit.payment_type) %></p>
                      <small>Credit payment base on your credit payment type. <a href="<%= account_billing_url %>">My Credit</a></small>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-right">Type</label>
                    <div class="col-sm-8 col-form-value">
                      <p>Trial</p>
                      <% if current_user.credit.payment_type == 1 %>
                      <small>Trial Subscription will expire within <b>14 days</b>.</small>
                      <% else %>
                      <small>Invoice auto generated after Trial Subscription end.<br/>Next payment duedate <b><%= @expired %></b></small>
                      <% end %>
                    </div>
                  </div>

                  <div class="row mt-3">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                      <%= button_tag(type: "submit", class: "btn btn-default primary mr-3") do %>
                        Create
                      <% end %>
                      <a href="<%= root_url %>" class="btn btn-light">Back</a>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
				</div>
      <% else %>
        <div class="dashboard__container-border clearfix">
          <div class="dashboard__container-border-item mb-3 subscription">
            <div class="dashboard__container-border-item-heading">
              <h6>Subscription Overview</h6>
              <span>Current subscription you're using</span>
            </div>
            <div class="subscription">
              <div class="subscription-info clearfix">
                <div class="subscription-info-type">
                  <span>Subscription Type</span>
                  <h5><%= subscriptionType(current_user.subscription.subscription_type) %></h5>
                </div>
                <div class="subscription-info-expire">
                  <span>Expiration Date</span>
                  <h5><%= current_user.subscription.expiration_date.strftime("%d/%m/%Y") %></h5>
                </div>
                <div class="subscription-info-status">
                  <span>Status</span>
                  <h5><%= subscriptionStatus(current_user.subscription.status) %></h5>
                </div>
              </div>
              <div class="subscription-upgrade clearfix">
                <a href="" class="btn btn-default primary outline btn-sm">
                  <span class="upgrade_ic"></span>
                  <span>Upgrade</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="dashboard__container-border clearfix sync">
          <div class="dashboard__container-border-col-5">
            <div class="dashboard__container-border-item ">
              <div class="dashboard__container-border-item-heading">
                <h6>Bandwidth</h6>
                <span>Usage bandwidth summary</span>
              </div>
              <div class="subscription">
                <div class="subscription-info clearfix">
                  <div class="subscription-info-usage">
                    <h5><%= ApplicationController::FormatNumber.new(current_user.subscription.bwd_limit).formatHumanSize() %></h5>
                    <span>of bandwidth used</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dashboard__container-border-col-5">
            <div class="dashboard__container-border-item">
              <div class="dashboard__container-border-item-heading">
                <h6>Storage</h6>
                <span>Usage storage summary</span>
              </div>
              <div class="subscription">
                <div class="subscription-info clearfix">
                  <div class="subscription-info-usage">
                    <h5><%= ApplicationController::FormatNumber.new(current_user.subscription.stg_limit).formatHumanSize() %></h5>
                    <span>of storage used</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
		</div>
	</div>
</div>