<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Portal :: Vncdn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="no-scroll">
    <div class="main__heading">
      <div class="free-trial-message">
        trial.message
      </div>
      <div class="portal__main-navigation">
        navigation
      </div>
    </div>
    <div class="main__content">
      <%= yield %>
    </div>
  </body>
</html>
