<body style="margin:0">
  <div style="background-color:#f8f9fa;font-weight:normal">
    <table bgcolor="#f8f9fa" width="600" align="center" cellspacing="0" cellpadding="0" border="0" style="width:600px;max-width:600px;margin:0 auto;background-color:#f8f9fa;border-collapse:collapse">
      <tbody>
        <tr>
          <td style="padding:2rem">
            <img src="<%= @logo %>" width="auto" height="50px">
          </td>
          <td style="text-align:right;font-family:Google Sans,Roboto,Arial;padding:2rem">
            <a href="http://<%= @host %>" style="font-size:16px;line-height:20px;letter-spacing:0.75px;color:#1a73e8;font-weight:500;text-decoration:none">
              Go to your Portal 
              <img src="http://<%= @host %>/assets/forward_ic.png" width="15px" height="15px">
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <table bgcolor="#ffffff" width="600" align="center" cellspacing="0" cellpadding="0" border="0" style="width:600px;max-width:600px;margin:0 auto;background-color:#ffffff;border-collapse:collapse;border-radius: 6px">
		  <tbody>
		    <tr>
		      <td style="font-family:Google Sans,Roboto,Arial;font-size:1rem;letter-spacing:0.75px;padding:2rem">
		        <h1 style="font-size:1.75rem;margin-top:0;margin-bottom:1.5rem"><b>Reset Password Instructions</b></h1>
		        <h3 style="font-size:1rem;margin-bottom:1rem;display:block;float:unset"><b>Hello <%= User.find_by(email: @resource.email).name %>,</b></h3>
		        <p style="margin-top:1rem;margin-bottom:1rem">Someone has requested a link to change your password. You can do this through the link below:</p>
		        <p style="margin-top:1rem;margin-bottom:1rem"><a href="<%= edit_password_url(@resource, reset_password_token: @token, host: @host) %>" style="color:#fff;background-color:<%= @color%>;padding: 12px 16px;font-size:14px;font-weight:700;box-shadow:none;outline:none;display:inline-block;text-align:center;vertical-align:middle;border: 1px solid transparent;line-height:1.5;border-radius:0.25rem;text-decoration:none">Reset My Password</a></p>
		        <p style="margin-top:1rem;margin-bottom:1rem">If you didn't request this, please ignore this email.</p>
		        <p style="margin-top:1rem;margin-bottom:1rem">Your password won't change until you access the link above and create a new one.</p>
		      </td>
		    </tr>
		  </tbody>
		</table>
   	<table bgcolor="#f8f9fa" width="600" align="center" cellspacing="0" cellpadding="0" border="0" style="width:600px;max-width:600px;margin:0 auto;background-color:#f8f9fa;border-collapse:collapse">
      <tbody>
        <tr>
          <td style="font-family:Google Sans,Roboto,Arial;font-size:0.875rem;color:#888888;font-weight:normal;letter-spacing:0.75px;padding:2rem">
            <p>This email was sent to <%= @email %> because you indicated that you’d like to receive updates and tips about your VNCDN account.</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>