<div class="signin__content">
  <div class="container">
    <%= render "users/shared/head" %>
    <div class="wrapper">
      <h3 class="mt-0">Sign up</h3>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="form-group mt-3">
          <%= f.label :name %><br />
          <%= f.text_field :name, :class => 'form-control', autofocus: true %>
        </div>

        <div class="form-group mt-3">
          <%= f.label :email %><br />
          <%= f.email_field :email, :class => 'form-control', autocomplete: "off", id: 'user-email', pattern: "^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*", required: true %>
          <%= f.hidden_field :username, id: 'user-name' %>
          <% if @parent_uuid.present? %>
          <%= f.hidden_field :parent_uuid, value: User.find_by(domain: request.host).username %>
          <% end %>
        </div>

        <div class="form-group mt-3">
          <%= f.label :password %>
          <%= f.password_field :password, :class => 'form-control', autocomplete: "off" %>
          <%= f.hidden_field :password_confirmation %>
          <% if @minimum_password_length %>
          <small id="passwordHelp" class="form-text text-muted">Password require <%= @minimum_password_length %> characters minimum</small>
          <% end %>
        </div>

        <div class="mt-3">
          <%= f.submit "Register", :class => 'btn btn-default primary btn-block mb-3' %>
          <div class="signup__refer">
            <div class="signup__refer-heading">
              <p>Sign in to an existing </p>
            </div>
            <div class="signup__refer-content">
              <a href="<%= new_session_path(resource_name) %>" class="btn btn-light btn-block">Customer Sign in</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="signin__content-footer">
      <p>© <%= Date.current.strftime("%Y") %> <% if @parent_uuid.present? && @parent_uuid.company.present? %><%= @parent_uuid.company %><% else %>VNCDN<% end %></span>
    </div>
    <script type="text/javascript">
      $('#user-email').keyup(function() {
        var username = $(this).val();
        var encrypt = $.md5(username);
        $('#user-name').val(encrypt);
      });
      $('#user_password').keyup(function() {
        $("#user_password_confirmation").val($('#user_password').val());
      });
    </script>
  </div>
</div>