<div class="acp__content overlay">
  <div class="container">
    <div class="wrapper mt-5">
      <% @parent_uuid = User.find_by(domain: request.host) %>
      <h2>Sign up <% if @parent_uuid.present? %>:: <%= @parent_uuid.username %><% end %></h2>
      <%= @uri %>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group mt-4">
          <%= f.label :name %><br />
          <%= f.text_field :name, :class => 'form-control', autofocus: true %>
        </div>

        <div class="form-group mt-4 hidden">
          <%= f.text_field :username, :class => 'form-control', id: 'user-name' %>
          <% if @parent_uuid.present? %>
          <%= f.text_field :parent_uuid, value: User.find_by(domain: request.host).username %>
          <% end %>
        </div>

        <div class="form-group mt-4">
          <%= f.label :email %><br />
          <%= f.email_field :email, :class => 'form-control', autocomplete: "off", id: 'user-email' %>
        </div>

        <div class="form-group mt-3">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, :class => 'form-control', autocomplete: "off" %>
        </div>

        <div class="form-group mt-3">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, :class => 'form-control', autocomplete: "off" %>
        </div>

        <div class="actions mt-3">
          <%= f.submit "Sign up", :class => 'btn btn-default primary' %>
        </div>
      <% end %>
    </div>
    <div class="text-left mt-5">
      <%= render "users/shared/links" %>
    </div>
    <script type="text/javascript">
      $('#user-email').keyup(function() {
        var username = $(this).val();
        var encrypt = $.md5(username);
        $('#user-name').val(encrypt);
      });
    </script>
  </div>
</div>